{% extends 'flikcr_api/layout.html' %}
{% load static %}


{% block body %}
<div class="container">


  <form method="POST" action="{% url 'searchPresets' %}">{% csrf_token %}


    <p>
    <h3>Search by Presets Locations</h3>
    <div class="col-auto">
      <select class="custom-select custom-select-md mb-3" name="city">
        <option selected>Chose from Preset Locations</option>

        {% for preset in presets%}
        <option  value="{{ preset.id }}">{{ preset.locationName }}</option>
        {% endfor %}

      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </div>
    </p>


  </form>
</div>
<div class="container">

  <p>
 {{ city.locationName }}
</p>
<p>
{{ city.longitude }}
 </p>
  <p>
{{ city.latitude }}
</p>

</div>


{% endblock %}